[access "refs/*"]
	owner = group user/maheshsapre (maheshsapre)
[access "refs/for/refs/*"]
	read = group user/maheshsapre (maheshsapre)
	push = group user/maheshsapre (maheshsapre)
	label-Code-Review = -2..+2 group user/maheshsapre (maheshsapre)
	label-Verified = -1..+1 group user/maheshsapre (maheshsapre)
	rebase = group user/maheshsapre (maheshsapre)
	removeReviewer = group user/maheshsapre (maheshsapre)
	submit = group user/maheshsapre (maheshsapre)
[access "refs/heads/*"]
	read = group user/maheshsapre (maheshsapre)
	create = group user/maheshsapre (maheshsapre)
	push = +force group user/maheshsapre (maheshsapre)
	pushMerge = group user/maheshsapre (maheshsapre)
[access "refs/tags/*"]
	push = +force group user/maheshsapre (maheshsapre)
	pushTag = group user/maheshsapre (maheshsapre)
	pushSignedTag = group user/maheshsapre (maheshsapre)
